@section Scripts
{
}
@using FlightoUs.Model.Enums;
@{
    bool IsAdmin = User.IsInRole(UserRoleType.Admin.ToString());
    bool IsManager = User.IsInRole(UserRoleType.Manager.ToString());
    bool IsUser = User.IsInRole(UserRoleType.User.ToString());
}
<!-- Header-->
<header id="header" class="header">
    <div class="header-menu">
        <div class="col-sm-7">
            <a id="menuToggle" class="menutoggle pull-left">
                <span class="material-icons">
                    menu
                </span>
            </a>
        </div>
        <div class="col-sm-5">
            <div class="user-area dropdown float-right">
                @if (IsAdmin)
                {
                    <a href="#" onclick="Logout('Admin');" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="material-icons">
                            logout
                        </span>
                    </a>
                }
                @if (IsManager)
                {
                    <a href="#" onclick="Logout('Manager');" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="material-icons">
                            logout
                        </span>
                    </a>
                }
                @if (IsUser)
                {
                    <a href="#" onclick="Logout('User');" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="material-icons">
                            logout
                        </span>
                    </a>
                }

                
            </div>
        </div>
    </div>
</header>