@using FlightoUs.Model.Enums;
@{ 
    bool IsAdmin = User.IsInRole(UserRoleType.Admin.ToString());
    bool IsManager = User.IsInRole(UserRoleType.Manager.ToString());
    bool IsUser = User.IsInRole(UserRoleType.User.ToString());
}
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="material-icons">
                    menu
                </span>
            </button>
            <a class="navbar-brand" href="./"><img width="130" src="~/images/FlightoUs Logo.png" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="~/images/FlightoUs Logo.png" alt="Logo"></a>
        </div>
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav" id="navbarlist">

                @if (IsAdmin)
                {
                    <li>
                        <a id="aDashboard" asp-action="Dashboard" asp-controller="Admin">
                            <span class="material-icons mr-1">dashboard</span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a id="aUsers" asp-action="UserIndex" asp-controller="Admin">
                            <span class="material-icons mr-1">supervised_user_circle</span>
                            <span>Users</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="LeadsIndex" asp-controller="Admin">
                            <span class="material-icons mr-1">
                                supervised_user_circle
                            </span>
                            <span>Leads</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="SalePostIndex" asp-controller="Admin">
                            <span class="material-icons mr-1">
                                point_of_sale
                            </span>
                            <span>Sale Post</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="ReciptIndex" asp-controller="Admin">
                            <span class="material-icons mr-1">
                                receipt
                            </span>
                            <span>Recipts</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="CashBookIndex" asp-controller="Admin">
                            <span class="material-icons">
                                credit_score
                            </span>
                            <span>Cash Book</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="RefundIndex" asp-controller="Admin">
                            <span class="material-icons">
                                money_off
                            </span>
                            <span>Refunds</span>
                        </a>
                    </li>

                }


                @if (IsManager)
                {
                    <li>
                        <a id="aDashboard" asp-action="Dashboard" asp-controller="Manager">
                            <span class="material-icons mr-1">dashboard</span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a id="aUsers" asp-action="UserIndex" asp-controller="Manager">
                            <span class="material-icons mr-1">supervised_user_circle</span>
                            <span>Users</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="LeadsIndex" asp-controller="Manager">
                            <span class="material-icons mr-1">
                                supervised_user_circle
                            </span>
                            <span>Leads</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="SalePostIndex" asp-controller="Manager">
                            <span class="material-icons mr-1">
                                point_of_sale
                            </span>
                            <span>Sale Post</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="ReciptIndex" asp-controller="Manager">
                            <span class="material-icons mr-1">
                                receipt
                            </span>
                            <span>Recipts</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="RefundIndex" asp-controller="Manager">
                            <span class="material-icons">
                                money_off
                            </span>
                            <span>Refunds</span>
                        </a>
                    </li>
                }
                @if (IsUser)
                {
                    <li>
                        <a id="aDashboard" asp-action="Dashboard" asp-controller="User">
                            <span class="material-icons mr-1">dashboard</span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="LeadsIndex" asp-controller="User">
                            <span class="material-icons mr-1">
                                supervised_user_circle
                            </span>
                            <span>Leads</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="SalePostIndex" asp-controller="User">
                            <span class="material-icons mr-1">
                                point_of_sale
                            </span>
                            <span>Sale Post</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="ReciptIndex" asp-controller="User">
                            <span class="material-icons mr-1">
                                receipt
                            </span>
                            <span>Recipts</span>
                        </a>
                    </li>
                    <li>
                        <a id="aBlogCategories" asp-action="RefundIndex" asp-controller="User">
                            <span class="material-icons">
                                money_off
                            </span>
                            <span>Refunds</span>
                        </a>
                    </li>
                }
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- Left Panel -->